body {
    font-family: 'Open Sans', sans-serif;
    background-color: purple;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 50px;
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    color: purple;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ccc;
  }
  